
<div class="header">
  <mat-toolbar class="toolbar" [ngClass]="setThemeColor()">
    <span class="header-name">Where in the world?</span>
    <span class="spacer"></span>
    <span>
      <div class="dark-mode-toggler" (click)="toggleDarkmode()" >
        <i class="fa fa-moon-o" aria-hidden="true"></i> Dark Mode
      </div>
    </span>
  
  </mat-toolbar>

</div>

<div class="line-divider" [ngClass]="setThemeColor()">
   &nbsp;
</div>

<div class="content-container" [ngClass]="setThemeColor()">
  <router-outlet></router-outlet>
</div>
